@charset "UTF-8";
.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
  /* 메인 콘텐츠 설정 */
}
.main .main-side {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%; /* 2컬럼 */
  max-width: 20%;
  padding: 1rem;
}
.main .main-side h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.main .main-side ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.main .main-side ul h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.main .main-side ul li {
  color: #666;
  margin-bottom: 0.5rem;
}
.main .main-content {
  flex: 0 0 80%; /* 10컬럼 */
  max-width: 80%;
}
.main .main-content .mypage-container {
  max-width: 800px;
  margin: 0 auto;
}
.main .main-content .mypage-container .wrap {
  display: flex;
  flex-direction: column;
}
.main .main-content .mypage-container .wrap .user-profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2.5rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #9a9a9a;
}
.main .main-content .mypage-container .wrap .user-profile .profile-img {
  background-color: #ff4b4b;
}
.main .main-content .mypage-container .wrap .user-profile .profile-img img {
  border-radius: 50%;
}
.main .main-content .mypage-container .wrap .user-profile .user-identify h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.main .main-content .mypage-container .wrap .user-profile .user-identify h3 {
  color: #888888;
}
.main .main-content .mypage-container .wrap .user-profile .user-point {
  display: flex;
  font-size: 1.5rem;
}
.main .main-content .mypage-container .wrap .user-profile .user-point i {
  margin-right: 8px;
}
.main .main-content .mypage-container .wrap .user-profile .user-rank {
  display: flex;
  font-size: 1.5rem;
}
.main .main-content .mypage-container .wrap .user-profile .user-rank i {
  margin-right: 8px;
}
.main .main-content .mypage-container .wrap .user-profile .user-setting button {
  border: 1px solid #9a9a9a;
  background: none;
  color: #9a9a9a;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  transition: 0.1s ease-in-out;
}
.main .main-content .mypage-container .wrap .user-profile .user-setting button:hover {
  background-color: #9a9a9a;
  color: #333;
  border: 1px solid #333;
}
.main .main-content .mypage-container .wrap .parchase, .main .main-content .mypage-container .wrap .sell {
  display: flex;
  flex-direction: column;
}
.main .main-content .mypage-container .wrap .parchase h1, .main .main-content .mypage-container .wrap .sell h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}
.main .main-content .mypage-container .wrap .parchase .parchase-area, .main .main-content .mypage-container .wrap .sell .parchase-area {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #666;
  background-color: #f5f5f5;
}
.main .main-content .mypage-container .wrap .parchase .parchase-area .parchase-all, .main .main-content .mypage-container .wrap .sell .parchase-area .parchase-all {
  display: flex;
  flex-direction: column;
}
.main .main-content .mypage-container .wrap .parchase .parchase-area .parchase-all h2, .main .main-content .mypage-container .wrap .sell .parchase-area .parchase-all h2 {
  text-align: center;
  font-size: 1.5rem;
}
.main .main-content .mypage-container .wrap .parchase .parchase-area .parchase-all h2:first-child, .main .main-content .mypage-container .wrap .sell .parchase-area .parchase-all h2:first-child {
  margin-bottom: 1rem;
}
.main .main-content .mypage-container .wrap .parchase .parchase-area .parchase-all:first-child, .main .main-content .mypage-container .wrap .sell .parchase-area .parchase-all:first-child {
  border-right: 1px solid #333333;
  padding-right: 6rem;
}
.main .main-content .mypage-container .wrap .parchase .parchase-item, .main .main-content .mypage-container .wrap .sell .parchase-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  padding: 0 1rem;
}
.main .main-content .mypage-container .wrap .parchase .parchase-item .item-img, .main .main-content .mypage-container .wrap .sell .parchase-item .item-img {
  border-radius: 0.7rem;
  background-color: #6ecdff;
}
.main .main-content .mypage-container .wrap .parchase .parchase-item .item-img img, .main .main-content .mypage-container .wrap .sell .parchase-item .item-img img {
  width: 150px;
  width: 150px;
}
.main .main-content .mypage-container .wrap .parchase .parchase-item .item-name, .main .main-content .mypage-container .wrap .sell .parchase-item .item-name {
  display: flex;
  flex-direction: column;
}
.main .main-content .mypage-container .wrap .parchase .parchase-item .item-name h2, .main .main-content .mypage-container .wrap .sell .parchase-item .item-name h2 {
  font-weight: bolder;
}
.main .main-content .mypage-container .wrap .parchase .parchase-item .item-date, .main .main-content .mypage-container .wrap .sell .parchase-item .item-date {
  font-size: 1.25rem;
  color: #888888;
}
.main .main-content .mypage-container .wrap .parchase .parchase-item .item-status, .main .main-content .mypage-container .wrap .sell .parchase-item .item-status {
  font-size: 1.25rem;
  font-weight: bolder;
}
.main .main-content .mypage-container .wrap .wish-list {
  margin-bottom: 2rem;
}
.main .main-content .mypage-container .wrap .wish-list h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  margin-block-end: 0;
}
.main .main-content .mypage-container .wrap .wish-list .wish-item-list ul {
  display: flex;
  justify-content: space-between;
}
.main .main-content .mypage-container .wrap .wish-list .wish-item-list ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .main-content .mypage-container .wrap .wish-list .wish-item-list ul li .wish-item-img img {
  width: 200px;
  height: 200px;
}
.main .main-content .point-container {
  max-width: 800px;
  margin: 0 auto;
}
.main .main-content .point-container .point-wrapper {
  display: flex;
  flex-direction: column;
}
.main .main-content .point-container .point-wrapper h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.main .main-content .point-container .point-wrapper .point-box {
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #9a9a9a;
  display: flex;
}
.main .main-content .point-container .point-wrapper .point-box div {
  padding-right: 3rem;
  border-right: 1px solid #333;
}
.main .main-content .point-container .point-wrapper .point-box div h3 {
  margin-bottom: 1rem;
}
.main .main-content .point-container .point-wrapper .point-box div h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.main .main-content .point-container .point-wrapper .point-box #point {
  font-size: 1.5rem;
  border: none;
  border: 1px solid #666;
  border-radius: 0.75rem;
  margin-left: 3rem;
  text-align: right;
}
.main .main-content .point-container .point-wrapper .point-box #point:focus {
  outline: none;
  border: 1px solid #666;
}
.main .main-content .point-container .point-wrapper .point-box .point-btn {
  margin-left: 3rem;
  cursor: pointer;
  border: none;
  border: 1px solid #666;
  border-radius: 0.75rem;
  padding: 0 1rem;
}
.main .main-content .user-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
}
.main .main-content .user-wrapper {
  display: flex;
  flex-direction: column;
}
.main .main-content .user-wrapper h1 {
  width: 100%;
  font-size: 2rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid #333;
  margin-bottom: 2rem;
}
.main .main-content .user-info-wrapper {
  margin-bottom: 2rem;
}
.main .main-content .user-info-wrapper h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}
.main .main-content .info-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.main .main-content .info-item label {
  flex: 1;
  color: #9a9a9a;
}
.main .main-content .info-item input {
  flex: 2;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 1rem;
  font-size: 1rem;
}
.main .main-content .info-item input:disabled {
  background-color: #f0f0f0;
}
.main .main-content .info-item .change-btn, .main .main-content .info-item .save-btn, .main .main-content .info-item .cancel-btn {
  padding: 0.5rem 1rem;
  border: 1px solid #666;
  border-radius: 0.5rem;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 0.5rem;
}
.main .main-content .info-item .change-btn:hover, .main .main-content .info-item .save-btn:hover, .main .main-content .info-item .cancel-btn:hover {
  background-color: #f0f0f0;
}
.main .main-content .info-item .save-btn {
  border-color: #333;
  color: #333;
}
.main .main-content .info-item .save-btn:hover {
  background-color: #9a9a9a;
}
.main .main-content .info-item .cancel-btn {
  border-color: #333333;
  color: #333;
}
.main .main-content .info-item .cancel-btn:hover {
  background-color: #ffe6e6;
}
.main .main-content .item-address {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main .main-content .item-address .receiver {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.main .main-content .item-address .receiver span {
  width: 100px;
  font-weight: bold;
}
.main .main-content .item-address .receiver p {
  flex: 1;
  word-wrap: break-word;
  white-space: normal;
}
.main .main-content .item-address .change-address-btn {
  padding: 0.5rem;
  border: 1px solid #666;
  border-radius: 0.5rem;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
.main .main-content .item-address .change-address-btn:hover {
  background-color: #f0f0f0;
}
.main .main-content .rank-container {
  max-width: 800px;
  margin: 0 auto;
}
.main .main-content .rank-container .rank-wrapper {
  display: flex;
  flex-direction: column;
}
.main .main-content .rank-container .rank-wrapper h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}
.main .main-content .rank-container .rank-wrapper .rank-box {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #222222;
  width: 60%;
  color: white;
  margin-bottom: 2rem;
}
.main .main-content .rank-container .rank-wrapper .rank-box .rank-commission {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.main .main-content .rank-container .rank-wrapper .rank-box .rank-commission h2 {
  margin-top: 0.5rem;
  font-size: 1.7rem !important;
  font-weight: bolder;
}
.main .main-content .rank-container .rank-wrapper .rank-box .rank-commission .current-rank {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2rem;
  border-right: 1px solid white;
}
.main .main-content .rank-container .rank-wrapper .rank-box .rank-commission .current-commission {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.7rem;
}
.main .main-content .rank-container .rank-wrapper .rank-box p {
  text-align: center;
  color: #9a9a9a;
  font-size: 0.8rem !important;
}
.main .main-content .rank-container .rank-wrapper .rank-reward {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 2rem;
}
.main .main-content .rank-container .rank-wrapper .rank-reward h2 {
  font-size: 1.5rem;
}
.main .main-content .rank-container .rank-wrapper .rank-reward .level-container {
  display: flex;
  justify-content: flex-start;
}
.main .main-content .rank-container .rank-wrapper .rank-reward .level-container .level-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
  align-items: center;
  padding: 1.5rem;
  color: white;
  font-weight: bolder;
}
.main .main-content .rank-container .rank-wrapper .rank-reward .level-container .level-box:nth-child(1) {
  background-color: #9a9a9a;
  height: 100px;
  align-self: flex-end;
}
.main .main-content .rank-container .rank-wrapper .rank-reward .level-container .level-box:nth-child(2) {
  background-color: #707070;
  align-self: flex-end;
  height: 200px;
}
.main .main-content .rank-container .rank-wrapper .rank-reward .level-container .level-box:nth-child(3) {
  background-color: #4f4f4f;
  height: 300px;
}

/*# sourceMappingURL=mypage.css.map */
