.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem  ;
  .main-side {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%; /* 2컬럼 */
    max-width: 20%;
    padding: 1rem;
    h1{
      font-weight: bold;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    ul{
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      h2{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      li{
        color: #666;
        margin-bottom: 0.5rem;
      }
    }
  }

  /* 메인 콘텐츠 설정 */
  .main-content {
    flex: 0 0 80%; /* 10컬럼 */
    max-width: 80%;
    .point-container{
      max-width: 800px;
      margin: 0 auto;
      .point-wrapper{
        display: flex;
        flex-direction: column;
        h1{
          font-size: 2rem;
          font-weight: bold;
          margin-bottom: 2rem;
        }
        .point-box{
          padding: 2rem;
          border-radius: 1rem;
          border: 1px solid #9a9a9a;
          display: flex;
          div{
            h3{
              margin-bottom: 1rem;
            }
            h2 {
              font-size: 1.5rem;
              font-weight: bold;
            }
            padding-right: 3rem;
            border-right: 1px solid #333;
          }
          #point{
            font-size: 1.5rem;
            border: none;
            border: 1px solid #666;
            border-radius: 0.75rem;
            margin-left: 3rem;
            text-align: right;
            &:focus{
              outline: none;
              border: 1px solid #666;
            }
          }
          .point-btn{
            margin-left: 3rem;
            cursor: pointer;
            border: none;
            border: 1px solid #666;
            border-radius: 0.75rem;
            padding : 0 1rem;
          }
        }
      }
    }
    .user-container {
      max-width: 800px;
      margin: 2rem auto;
      padding: 1rem;
      background-color: #fff;
    }

    .user-wrapper {
      display: flex;
      flex-direction: column;
    }

    .user-wrapper h1 {
      width: 100%;
      font-size: 2rem;
      padding-bottom: 1.5rem;
      font-weight: bold;
      border-bottom: 1px solid #333;
      margin-bottom: 2rem;
    }

    .user-info-wrapper {
      margin-bottom: 2rem;
    }

    .user-info-wrapper h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: #333;
    }

    .info-item {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      label {
        flex: 1;
        color: #9a9a9a;
      }

      input {
        flex: 2;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 1rem;
        font-size: 1rem;

        &:disabled {
          background-color: #f0f0f0;
        }
      }

      .change-btn, .save-btn, .cancel-btn {
        padding: 0.5rem 1rem;
        border: 1px solid #666;
        border-radius: 0.5rem;
        background-color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-right: 0.5rem;

        &:hover {
          background-color: #f0f0f0;
        }
      }

      .save-btn {
        border-color: #333;
        color: #333;

        &:hover {
          background-color: #9a9a9a;
        }
      }

      .cancel-btn {
        border-color: #333333;
        color: #333;

        &:hover {
          background-color: #ffe6e6;
        }
      }
    }

    .item-address {
      display: flex;
      flex-direction: column;
      width: 100%;

      .receiver {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        span {
          width: 100px;
          font-weight: bold;
        }

        p {
          flex: 1;
          word-wrap: break-word;
          white-space: normal;
        }
      }

      .change-address-btn {
        padding: 0.5rem;
        border: 1px solid #666;
        border-radius: 0.5rem;
        background-color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}
