*{
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  margin: 2rem auto;
  .item-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9a9a9a;
    padding-bottom: 3.5rem;
    .item-image{
      border-radius: 5%;
      background-color: #59a892;
      margin-right: 1rem;
    }
    .item-description{
      height: inherit;
      display: flex;
      flex-direction: column;
      border-left: 1px solid #ababab;
      padding-left: 3.5rem;
      .item-price{
        margin-bottom: 2rem;
        p{
          font-size: 1.25rem;
          font-weight: normal;
        }
        h1{
          font-size: 2.5rem;
          font-weight: bold;
        }
      }
      .item-name{
        margin-bottom: 2rem;
        h2{
          font-size: 1.5rem;
          :first-child{
            font-weight: bold;
          }
        }
      }
      .item-detail{
        ul{
          display: flex;
          justify-content: flex-start;
          li {
            padding-right: 1rem;
            border-right: 1px solid #333;

            // 첫 번째 자식 요소를 제외한 나머지에 스타일 적용
            &:not(:first-child) {
              margin-left: 1rem; // 추가
              padding-right: 1rem; // 추가
              border-right: 1px solid #333; // 추가
            }

            &:last-child {
              border-right: none; // 오른쪽 보더 제거
            }
          }

        }
        margin-bottom: 2rem;
      }
      .item-transaction{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        .item-parchase{
          padding: 1rem;
          border-radius: 0.75rem;
          background-color: #EF6253;
          display: flex;
          margin-right: 1rem;
          span{
            font-size: 1.2rem;
            text-align: center;
            align-content: center;
            padding-right: 0.5rem;
            margin-right: 1rem;
            border-right: 1px solid #fff;
          }
          p{
            margin-right: 6.5rem;
          }
        }
        .item-sell{
          padding: 1rem;
          border-radius: 0.75rem;
          background-color: #41B979;
          display: flex;
          span{
            font-size: 1.2rem;
            text-align: center;
            align-content: center;
            padding-right: 0.5rem;
            margin-right: 1rem;
            border-right: 1px solid #fff;
          }
          p{
            margin-right: 6.5rem;
          }
        }
        margin-bottom: 2rem;
      }
      .item-wish{
        padding: 1.33rem 2rem;
        background-color: #fff;
        border-radius: 0.75rem;
        border: 1px solid #333  ;
        display: flex;
        justify-content: center;
      }

    }
  }
  .item-info-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .item-quote{
      h2{
        font-size: 2rem;
      }
      padding: 2rem;
      button{
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }
      .item-quote-chart{
        width: 450px;
        height: 300px;
        text-align: center;
        align-content: center;
        background-color: #fff;
        border : 1px solid #333;

      }
    }

    .item-concluded{
      h2{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 4rem;
      }
      .concluded-transaction{
        width: 450px;
        height: 300px;
        text-align: center;
        align-content: center;
        background-color: #fff;
        border : 1px solid #333;
      }
    }

  }
}

.modal {
  display: none; // 기본적으로 숨김
  position: fixed; // 스크롤과 관계없이 고정 위치
  z-index: 1; // 다른 콘텐츠 위에 표시
  left: 0;
  top: 0;
  width: 100%; // 전체 너비
  height: 100%; // 전체 높이
  background-color: rgba(0, 0, 0, 0.6); // 반투명 배경색

  .modal-content {
    background-color: #fefefe; // 모달 배경색
    margin: 15% auto; // 상단 여백 및 가운데 정렬
    padding: 20px; // 패딩
    border: 1px solid #888; // 테두리
    width: 80%; // 너비
    max-width: 800px; // 최대 너비
    border-radius: 8px; // 모서리 둥글게

    .close-button {
      color: #aaa; // 회색
      float: right; // 오른쪽 정렬
      font-size: 28px; // 글자 크기
      font-weight: bold; // 두껍게

      &:hover,
      &:focus {
        color: black; // 호버 시 색상 변화
        text-decoration: none; // 밑줄 제거
        cursor: pointer; // 커서 모양 변경
      }
    }

    .tabs-container {
      margin: 2rem auto; // 가운데 정렬
      background: #fff; // 흰색 배경
      border-radius: 5px; // 모서리 둥글게
      width: 100%;
      .tabs {
        display: flex; // 플렉스박스 사용
        border-bottom: 1px solid #9a9a9a; // 탭 간 경계선
        padding-bottom: 2rem;
        .tab-button {
          flex: 1;
          padding: 1rem; // 패딩
          background: transparent; // 배경 없음
          border: none; // 테두리 없음
          cursor: pointer; // 커서 모양 변경
          font-size: 1rem; // 글자 크기
          transition: background 0.2s; // 배경 전환 효과
          border-radius: 1rem;
          margin: 0 0.5rem;
          &:hover {
            background-color: #ffa75e; // 호버 시 배경색 변화
          }

          &.active {
            background-color: #ffa75e;
            font-weight: bold; // 활성화된 탭 글씨 두껍게
          }
        }
      }

      .tab-content {
        padding: 2rem; // 패딩
        display: none; // 기본적으로 숨김

        .tab-content-list{
          ul{
            overflow: auto ;
            li{
              margin-bottom: 1rem ;
              padding: 1rem;
              .list-inner{
                display: flex;
                justify-content: space-between;
                .rank-a{
                  padding: 0.2rem;
                  background-color: #ff4b4b;
                  color: white;
                  border-radius: 25%;
                  font-size: 1.2rem;
                }
                .rank-b{
                  padding: 0.2rem;

                  background-color: #5dff4b;
                  color: white;
                  border-radius: 25%;
                  font-size: 1.2rem;
                }
                .rank-c{
                  padding: 0.2rem;

                  background-color: #336eee;
                  color: white;
                  border-radius: 25%;
                  font-size: 1.2rem;
                }
                span{
                  &:nth-child(2){
                    color: #e74545;
                  }
                }
              }
            }
          }
        }

        .tab-content-parchase{
          font-size: 1.5rem;
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          border-bottom: 1px solid #333;
          padding-bottom: 2rem;
          margin-bottom: 2rem;
          input{
            box-sizing: border-box;
            font-size: 1.2rem;
            border : none;
            border-bottom: 2px solid #888; // 기본 테두리 색상
            border-radius: 0; // 각진 모서리
            &:focus {
              border: none; // 기본 테두리 제거
              border-bottom: 2px solid black; // 포커스 시 아래쪽 테두리 색상 변경
              outline: none; // 기본 포커스 아웃라인 제거            }
            }
            margin-right: 1rem;
          }

        }
        .tab-content-total{
          display: flex;
          justify-content: space-between;
          margin-bottom: 2rem;
        }
        .instant-parchase-btn{
          border-radius: 1rem;
          padding: 1rem 2rem;
          color: white;
          background-color: #222222;
          width: 100%;
          text-align: center;
          align-content: center;
        }
        &.active {
          display: block; // 활성화된 콘텐츠 표시
        }
      }
    }
  }
}
