* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 2rem auto;
}
.container .item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #9a9a9a;
  padding-bottom: 3.5rem;
}
.container .item-wrapper .item-image {
  border-radius: 5%;
  background-color: #59a892;
}
.container .item-wrapper .item-description {
  height: inherit;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ababab;
  padding-left: 3.5rem;
}
.container .item-wrapper .item-description .item-price {
  margin-bottom: 2rem;
}
.container .item-wrapper .item-description .item-price p {
  font-size: 1.25rem;
  font-weight: normal;
}
.container .item-wrapper .item-description .item-price h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.container .item-wrapper .item-description .item-name {
  margin-bottom: 2rem;
}
.container .item-wrapper .item-description .item-name h2 {
  font-size: 1.5rem;
}
.container .item-wrapper .item-description .item-name h2 :first-child {
  font-weight: bold;
}
.container .item-wrapper .item-description .item-detail {
  margin-bottom: 2rem;
}
.container .item-wrapper .item-description .item-detail ul {
  display: flex;
  justify-content: space-between;
}
.container .item-wrapper .item-description .item-detail ul li {
  padding-right: 1rem;
  border-right: 1px solid #333;
}
.container .item-wrapper .item-description .item-detail ul li:not(:first-child) {
  margin-left: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #333;
}
.container .item-wrapper .item-description .item-detail ul li:last-child {
  border-right: none;
}
.container .item-wrapper .item-description .item-transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 2rem;
}
.container .item-wrapper .item-description .item-transaction .item-parchase {
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: #EF6253;
  display: flex;
}
.container .item-wrapper .item-description .item-transaction .item-parchase span {
  font-size: 1.2rem;
  text-align: center;
  align-content: center;
  padding-right: 0.5rem;
  margin-right: 1rem;
  border-right: 1px solid #fff;
}
.container .item-wrapper .item-description .item-transaction .item-parchase p {
  margin-right: 6.5rem;
}
.container .item-wrapper .item-description .item-transaction .item-sell {
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: #41B979;
  display: flex;
}
.container .item-wrapper .item-description .item-transaction .item-sell span {
  font-size: 1.2rem;
  text-align: center;
  align-content: center;
  padding-right: 0.5rem;
  margin-right: 1rem;
  border-right: 1px solid #fff;
}
.container .item-wrapper .item-description .item-transaction .item-sell p {
  margin-right: 6.5rem;
}
.container .item-wrapper .item-description .item-wish {
  padding: 1.33rem 2rem;
  background-color: #fff;
  border-radius: 0.75rem;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
}
.container .item-info-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .item-info-wrapper .item-quote {
  padding: 2rem;
}
.container .item-info-wrapper .item-quote h2 {
  font-size: 2rem;
}
.container .item-info-wrapper .item-quote button {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.container .item-info-wrapper .item-quote .item-quote-chart {
  width: 450px;
  height: 300px;
  text-align: center;
  align-content: center;
  background-color: #fff;
  border: 1px solid #333;
}
.container .item-info-wrapper .item-concluded h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 4rem;
}
.container .item-info-wrapper .item-concluded .concluded-transaction {
  width: 450px;
  height: 300px;
  text-align: center;
  align-content: center;
  background-color: #fff;
  border: 1px solid #333;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  border-radius: 8px;
}
.modal .modal-content .close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .modal-content .close-button:hover, .modal .modal-content .close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content .tabs-container {
  margin: 2rem auto;
  background: #fff;
  border-radius: 5px;
  width: 100%;
}
.modal .modal-content .tabs-container .tabs {
  display: flex;
  border-bottom: 1px solid #9a9a9a;
  padding-bottom: 2rem;
}
.modal .modal-content .tabs-container .tabs .tab-button {
  flex: 1;
  padding: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s;
  border-radius: 1rem;
  margin: 0 0.5rem;
}
.modal .modal-content .tabs-container .tabs .tab-button:hover {
  background-color: #ffa75e;
}
.modal .modal-content .tabs-container .tabs .tab-button.active {
  background-color: #ffa75e;
  font-weight: bold;
}
.modal .modal-content .tabs-container .tab-content {
  padding: 2rem;
  display: none;
}
.modal .modal-content .tabs-container .tab-content .tab-content-list ul {
  overflow: auto;
}
.modal .modal-content .tabs-container .tab-content .tab-content-list ul li {
  margin-bottom: 1rem;
  padding: 1rem;
}
.modal .modal-content .tabs-container .tab-content .tab-content-list ul li .list-inner {
  display: flex;
  justify-content: space-between;
}
.modal .modal-content .tabs-container .tab-content .tab-content-list ul li .list-inner .rank-a {
  padding: 0.2rem;
  background-color: #ff4b4b;
  color: white;
  border-radius: 25%;
  font-size: 1.2rem;
}
.modal .modal-content .tabs-container .tab-content .tab-content-list ul li .list-inner .rank-b {
  padding: 0.2rem;
  background-color: #5dff4b;
  color: white;
  border-radius: 25%;
  font-size: 1.2rem;
}
.modal .modal-content .tabs-container .tab-content .tab-content-list ul li .list-inner .rank-c {
  padding: 0.2rem;
  background-color: #336eee;
  color: white;
  border-radius: 25%;
  font-size: 1.2rem;
}
.modal .modal-content .tabs-container .tab-content .tab-content-list ul li .list-inner span:nth-child(2) {
  color: #e74545;
}
.modal .modal-content .tabs-container .tab-content .tab-content-parchase {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #333;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.modal .modal-content .tabs-container .tab-content .tab-content-parchase input {
  box-sizing: border-box;
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid #888;
  border-radius: 0;
  margin-right: 1rem;
}
.modal .modal-content .tabs-container .tab-content .tab-content-parchase input:focus {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}
.modal .modal-content .tabs-container .tab-content .tab-content-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.modal .modal-content .tabs-container .tab-content .instant-parchase-btn {
  border-radius: 1rem;
  padding: 1rem 2rem;
  color: white;
  background-color: #222222;
  width: 100%;
  text-align: center;
  align-content: center;
}
.modal .modal-content .tabs-container .tab-content.active {
  display: block;
}

/*# sourceMappingURL=product.css.map */
